@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body {
    padding-top: 27px;
    font-family: 'NanumSquare', sans-serif;
}

p {
    margin: 0;
}

.hidden {
    display: none !important;
}

#container {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgb(76 29 149 / 0.05);
}

#horizontal-line {
    display: flex;
}

#vertical-line {
    margin: 0px 3px 0px 3px;
    border-radius: 20px;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 112px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.cls_box {
    border-radius: 20px 20px 0px 0px;
    position: sticky;
    top: 0px;
    height: 50px !important;
    color: black !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.period_box {
    width: 100px !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.end_box {
    border-radius: 0px 0px 20px 20px;
}

#tag {
    border-radius: 30px;
    color: white;
    background-color: #4834d4;
    padding: 8px 20px 8px 20px;
}

select {
    z-index: 1;
    text-align: center;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
}

#subject-select {
    color: white;
    background-color: #6d6d6d !important;
    width: 50px;
    height: 35px;
}

#class-select,
#theme-select {
    width: 100px;
    height: 35px;
}

input[type='text'] {
    transform: translateX(-40px);
    padding-left: 40px;
    margin-right: -30px;
    width: 100px;
    height: 33px;
    border: none;
    outline: none;
    border-radius: 30px;
}

a {
    color: gray;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif;
    padding: 8px 20px 8px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
}

input[type="date"] {
    font-family: 'NanumSquare', sans-serif;
}

hr {
    opacity: 0.3;
}

#reset-data {
    color: white;
    background-color: #eb4d4b;
}

p.title {
    font-size: 25px;
    font-weight: bold;
}

p.warning {
    color: red;
}

p.check-update {
    cursor: pointer;
    background-color: #0059ff;
    padding: 0px 6px 2px 6px;
    border-radius: 5px;
    color: white;
    margin-left: 0px !important;
}

.about>p {
    margin: 10px;
}

div.developer {
    margin-bottom: 20px;
}

#icon-link-box {
    display: flex;
    justify-content: center;
}

#icon-link-box>a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

#icon-link-box>a>p {
    margin-left: 10px;
}

div.update {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: -10px;
}

div.update>p {
    margin: 10px;
    font-size: 13px;
}

div.cafeteria-box>p {
    width: 100%;
    text-align: center;
}

div.cafeteria-box>p.title {
    width: 50%;
    padding: 3px;
    border-radius: 30px;
    color: white;
    margin-bottom: 10px;
    background-color: #44bd32;
    font-size: 18px;
    font-weight: bold;
}

#breakfast,
#lunch,
#dinner,
#loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading>img {
    animation: rotate 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}